<html>
<head>
	<title>train</title>
</head>
<link rel="stylesheet" href="/static/css/main/train_main.css">
<body>
<div id="setting">
	<a id="saving_step_text1">Saving per:</a><input id="saving_step" type="text" size="13" value="3000"><a id="saving_step_text2">Steps</a>
</div>
<button id="update_voca_and_question">Word Extraction</button>
<button id="delete_ckpt_file">Delete Model</button>
<button id="start_training">Start Training</button>
<div id="training_info"></div>
<button id="show_testing">training test</button>
<input id="is_training" type="hidden" value="{{ is_training }}">
<input id="user" type="hidden" value="{{ user }}">
<input id="project" type="hidden" value="{{ project }}">
<input id="admin_yn" type="hidden" value="{{ admin_yn }}">
<script src='/static/lib/jquery/jquery.min.js'></script>
<script src='/static/js/popup/popup_size.js'></script>
<script src="/static/js/main/train_main.js"></script>
</body>
</html>
