.right-arrow {
	position: relative;
	width: 15px;
	height: 15px;
	top: 2.5px;
}

.question-mark {
	position: relative;
	width: 13px;
	height: 13px;
	top: 2px;
}

.exclamation-mark {
	position: relative;
	width: 15px;
	height: 15px;
	top: 3px;
}

.check-mark {
	position: relative;
	width: 15px;
	height: 15px;
	top: 3px;
}

.back_arrow {
	position: relative;
	width: 25px;
	height: 25px;
	top: -17px;
	left: -53px;	
}
