<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
  <title>Log-in</title>
      <link rel="stylesheet" href="/static/css/login/login_rc_mobile.css">
      <link rel="stylesheet" href="/static/lib/jquery_ui/jquery.mobile-1.4.5.min.css">
</head>

<body>
  <div class="div1">
  	<div class="div1-inner">  
	    <h1 class="title">Kant Random<br>Religion Chat</h1><br>
		<div class="div1-input">
			<a>My:</a><br><select id="my_religion">
				<option value="1">Catholic</option>
				<option value="2">Islam</option>
				<option value="3">Hinduism</option>		
				<option value="4">Buddhism</option>
				<option value="5">Protestant</option>		
				<option value="98">Others</option>
				<option value="99">Atheism</option>
			</select>
			<p>
			<a>Others:</a><br><select id="others_religion">
				<option value="1">Catholic</option>
				<option value="2">Islam</option>
				<option value="3">Hinduism</option>		
				<option value="4">Buddhism</option>
				<option value="5">Protestant</option>		
				<option value="98">Others</option>
				<option value="99">Atheism</option>
			</select>
			<p>
			<input id="login" class="login" type="button" value="Find">
		</div>
	</div>
  </div>
  <script src='/static/lib/jquery/jquery-mobile-1.4.5.min.js'></script>
  <script src="/static/js/login/login_rc_mobile.js"></script>
  <script src="/static/lib/jquery/jquery-latest.js"></script>
</body>

</html>
