<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
  <title>Kant Religion Random Chat</title>      
      <link rel="stylesheet" href="/static/lib/jquery_ui/jquery-ui.min.css">
      <link rel="stylesheet" href="/static/lib/jquery/jquery.mobile-1.4.5.min.css">
      <link rel="stylesheet" href="/static/css/login/login_rc_mobile.css">
</head>

<body>
  <div class="logo-img">
	<img src="static/res/krrc.png" />
  </div>
  <div class="div1">
  	<div class="div1-inner">  
		<div class="div1-input">
			<div data-role="fieldcontain">
				<label for="my_religion" class="select">My:</label>
				<select id="my_religion" name="select-native-2" data-mini="true">
					<option value="1">Catholic</option>
					<option value="2">Islam</option>
					<option value="3">Hinduism</option>		
					<option value="4">Buddhism</option>
					<option value="5">Protestant</option>		
					<option value="98">Others</option>
					<option value="99">Atheism</option>
				</select>
			</div>
			<div data-role="fieldcontain">
				<label for="others_religion" class="select">Others:</label>
				<select id="others_religion" name="select-native-2" data-mini="true">
					<option value="1">Catholic</option>
					<option value="2">Islam</option>
					<option value="3">Hinduism</option>		
					<option value="4">Buddhism</option>
					<option value="5">Protestant</option>		
					<option value="98">Others</option>
					<option value="99">Atheism</option>
				</select>
			</div>
		</div>
	</div>
	<div class="div1-inner2">
		<button id="login" class="ui-btn ui-corner-all">Find</button>
	</div>
  </div>
  <script src='/static/lib/jquery/jquery.min.js'></script>
  <script src='/static/lib/jquery/jquery.mobile-1.4.5.min.js'></script>
  <script src="/static/js/login/login_rc_mobile.js"></script>
</body>

</html>
