<html>
<head>
	<title>action_principle</title>
</head>
<link rel="stylesheet" href="/static/css/chat/action_principle.css">
<body>
<button id="get_action_principle">see result</button>
<p>
<div>
	<div>Question (write you question and see result.)</div>
	<textarea id="my_question" rows="5" cols="100"></textarea>
</div>
<p>
<div>
	<div>Encoder Token Words (input token)</div>
	<textarea readonly id="enc_token_words" rows="5" cols="100"></textarea>
</div>
<p>
<div>
	<div>Encoder Token Numbers (input number)</div>
	<textarea readonly id="enc_token_ids" rows="5" cols="100"></textarea>
</div>
<p>
<div id="seq2seq">Seq2Seq Model (processing seq2seq)</div>
<p>
<div>
	<div>Decoder Token Numbers (result number)</div>
	<textarea readonly id="dec_token_ids" rows="5" cols="100"></textarea>
</div>
<p>
<div>
	<div>Decoder Token Words (result token)</div>
	<textarea readonly id="dec_token_words" rows="5" cols="100"></textarea>
</div>
<p>
<div>
	<div>Answer (output)</div>
	<textarea readonly id="answer" rows="5" cols="100"></textarea>
</div>
<p>
<input id="user" type="hidden" value="{{ user }}">
<input id="project" type="hidden" value="{{ project }}">
<script src='/static/lib/jquery/jquery.min.js'></script>
<script src="/static/js/chat/action_principle.js"></script>
</body>
</html>
