<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<meta name=viewport content="width=device-width, initial-scale=1, user-scalable=yes">	
		<title>Kant</title>
		<link rel="stylesheet" href="/static/css/normalize.css">
		<link rel="stylesheet" href="/static/css/icon.css">
		<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
		<link rel='stylesheet prefetch' href='/static/lib/jquery/jquery.mCustomScrollbar.min.css'>
		<link rel="stylesheet" href="static/css/chat/chat_mobile.css">		
		<link rel="stylesheet" href="/static/lib/jquery_ui/jquery.mobile-1.4.5.min.css">		
		<script src="/static/lib/jquery/jquery-latest.js"></script>		
	</head>
<div class="chat">
	<div class="chat-title">
		<h1>Kant</h1>		
		<h2>A.I Chatbot</h2>
		<figure class="avatar">
			<img src="static/res/ai_image.jpg" />
		</figure>
	</div>
	<div id="left-board" class="messages">
		<div id="scroll-down" class="messages-content"></div>
	</div>
	<div class="message-box">
		<textarea class="message-input" placeholder="Type message..."></textarea>
		<button type="submit" class="message-submit">Send</button>
	</div>
</div>
<div class="bg"></div>
<div id="chat_modal" class="chat-modal">
	<iframe class="modal-iframe" id="modal_iframe" style="visibility:visible" frameBorder="0" src=""></iframe>
	<a href="#" onclick="javascript:go_back();"><img class="back_arrow" src="static/res/back_arrow.png"/></a>
	<a id="modal_close" href="#" rel="modal:close" style="display: none"></a>	
</div>
<input id="user" type="hidden" value="{{ user }}">
<input id="project" type="hidden" value="{{ project }}">
<input id="notice_list" type="hidden" value="{{ notice_list }}">
<script src='/static/lib/jquery/jquery-mobile-1.4.5.min.js'></script>
<script src='/static/lib/jquery_ui/jquery-ui.min.js'></script>
<script src='/static/lib/jquery/jquery.mCustomScrollbar.concat.min.js'></script>
<script src='/static/js/popup/popup_size.js'></script>
<script src="/static/js/chat/chat_mobile.js"></script>
</body>
</html>
