body {
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.3;
  overflow: hidden;
}

.div1 {
	position: absolute;
	left: 10%;
	top: 20%;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	margin: 0 auto 10px;
	width: 80%;
	height: 50%;
	background: #F6F6F6;	
}

.div1-inner {
	position: relative;
	left: 25%;
	top: 8%
}

.div1-inner2 {
	position: relative;
	left: 25%;
	top: 15%
}
