body {
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.3;
  overflow: hidden;
  background: url("/static/res/religion_image.png");
  background-image: url("/static/res/religion_image.png");
  background-repeat: repeat;
}

.div1 {
	position: absolute;
	left: 30%;
	top: 30%;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	margin: 0 auto 10px;
	width: 50%;
	height: 20%;
	background: #F6F6F6;	
}

.div1-inner {
	position: relative;
	left: 5%;
}